.forecast-top {
  margin-bottom: 2rem;
}
.forecast-card-title {
  font-size: 4rem;
}
.forecast-card-date {
  font-size: 2rem;
}

.forecast-weather-cards {
  width: 10rem;
}

img {
  width: 64px;
  height: 64px;
}
